.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg)*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8)), url("../../assets/BannerPhoto.jpg");

  /* Set a specific height */
  height: 60%;

  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* BAND BANNER*/
.band-name{
    position: relative;
    top: 83%;
    left: 1%;
    color: lightGrey;
    font-size: 30pt;
    text-overflow: clip;
    text-shadow: 0 0 4px black;
    font-family: var(--main-font);
}

.subtext{
    position: inherit;
    top: 83%;
    left: 1%;
    color: lightGrey;
    font-size: 15pt;
    text-overflow: clip;
    text-shadow: 0 0 4px black;
    font-family: var(--main-font);
}

/*Band Information*/
.band-information{
    position:absolute;
    left:50%;
    transform: translate(-50%, 0%);
    width: 80%;
}
.header {
    font-family: var(--main-font);
    color: black;
    font-size: 18pt;
}


/*Forum Styles*/
#post {
	width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
	
}

#box {
    border: 1px solid grey;
    padding: 10px 10px 10px 50px;
    margin: 7px 16px 16px 20px;
    border-radius: 5px;
    
}

.user-icon {
    width: 60px;
    height: auto;
    border-radius: 50%;
    position: absolute;
}