<div class="hero-image">
    <span class="header-title">SAMMY MILLER AND THE CONGREGATION</span>
</div>

<div id="band-information">

</div>

<div id="band-discussion">
    <div class="header" style="padding:40px 0px 10px 0px"> 
        <p>BAND DISCUSSION</p>
    </div>

    <div id="post">
        <img class="user-icon"src="../../assets/profilepic.jpg">
        <br>
        <div id="box">
            <p class="location">Fiona Soetrisno</p>
            <p class="decsription">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris, 
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
            <p>1/31/19 12:30</p>
        </div>
    </div>
</div>
