<div class="hero-image">
    <span class="band-name">SAMMY MILLER AND THE CONGREGATION</span>
    <span class="subtext"> JOYFUL JAZZ—MUSIC THAT FEELS GOOD </span>
</div>

<div id="band-information">
    <h3>Description</h3>
    <p id="Description">
        A native of Los Angeles, Grammy® nominated drummer Sammy Miller has become known for his
        relentless focus on making music that feels good as a drummer, singer, and bandleader.
        Upon completing his Master’s at The Juilliard School, Sammy formed his ensemble, The
        Congregation. As a band, they share the power of community through their music—joyful jazz.
    </p>
</div>

<div style="overflow:auto; width:800px; height:2px">
    <div class="line center-x">
    </div>  
</div>  


<div id="band-discussion">
    <div class="header" style="padding:40px 0px 10px 0px"> 
        <p>BAND DISCUSSION</p>
    </div>

    <div class="post">
        <img class="user-icon"src="../../assets/profilepic.jpg">
        <br>
        <div id="box">
            <p class="location">Fiona Soetrisno</p>
            <p class="decsription">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris, 
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
            <p>1/31/19 12:30</p>
        </div>
    </div>


    <div class="post">
        <img class="user-icon"src="../../assets/profilepic.jpg">
        <br>
        <div id="box">
            <p class="location">Fiona Soetrisno</p>
            <p class="decsription">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris, 
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
            <p>1/31/19 12:30</p>
        </div>
    </div>



    <div class="header" style="padding:40px 0px 10px 0px"> 
        <p>WRITE A POST</p>
    </div>

    <div class="post" >
        <textarea class="write-post-box"rows="8" cols="50" placeholder="Write a post!"></textarea>
        <input class="button-main" style="margin:0px 0px 20px 20px" type="submit" value="Submit">
    </div>
</div>
