<div class="hero-image">
    <span class="band-name">SAMMY MILLER AND THE CONGREGATION</span>
    <span class="subtext"> JOYFUL JAZZ—MUSIC THAT FEELS GOOD </span>
</div>

<div id="band-information" class="height:auto">
    <div id="left-column">
        <h3>Description</h3>
        <p id="Description">
            A native of Los Angeles, Grammy® nominated drummer Sammy Miller has become known for his
            relentless focus on making music that feels good as a drummer, singer, and bandleader.
            Upon completing his Master’s at The Juilliard School, Sammy formed his ensemble, The
            Congregation. As a band, they share the power of community through their music—joyful jazz.
        </p>

        <div id="left-information">
            <h4>Location:</h4>
            <p>Brooklyn, NY</p>
            <h4>Looking For:</h4>
            <p>Trumpet, Percussionist</p>
            <h4>Genre</h4>
            <p>Jazz</p>
        </div>
        <div id="right-information">
            <h4>Level:</h4>
            <p>Professional</p>
            <h4>Next Performance:</h4>
            <p>Toronto, CA - Sony Center 4/5/2019</p>
        </div>
        <br/>
        <video width="320" height="240" controls>
            <src="../../assets/chrisalon.mp4">
        </video>
    </div>
    <div id="right-column">
        <img class="profile-pic" src="../../assets/defaultProfilePic.jpg"/>
        <p class="label">
            [name],[age]
        </p>
        <p class="label">
            [instrument]
        </p>
        <img class="profile-pic" src="../../assets/defaultProfilePic.jpg"/>
        <p class="label">
            [name],[age]
        </p>
        <p class="label">
            [instrument]
        </p>
        <img class="profile-pic" src="../../assets/defaultProfilePic.jpg"/>
        <p class="label">
            [name],[age]
        </p>
        <p class="label">
            [instrument]
        </p>
    </div>
</div>

<div style="overflow:auto; width:800px; height:2px">
    <div class="line center-x">
    </div>
</div>


<div id="band-discussion">
    <div class="header" style="padding:40px 0px 10px 0px">
        <p>BAND DISCUSSION</p>
    </div>

    <div class="post">
        <img class="user-icon"src="../../assets/profilepic.jpg">
        <br>
        <div id="box">
            <p class="location">Fiona Soetrisno</p>
            <p class="decsription">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris,
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
            <p>1/31/19 12:30</p>
        </div>
    </div>


    <div class="post">
        <img class="user-icon"src="../../assets/profilepic.jpg">
        <br>
        <div id="box">
            <p class="location">Fiona Soetrisno</p>
            <p class="decsription">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris,
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
            <p>1/31/19 12:30</p>
        </div>
    </div>



    <div class="header" style="padding:40px 0px 10px 0px">
        <p>WRITE A POST</p>
    </div>

    <div class="post" >
        <textarea class="write-post-box"rows="8" cols="50" placeholder="Write a post!"></textarea>
        <input class="button-main" style="margin:0px 0px 20px 20px" type="submit" value="Submit">
    </div>
</div>
