.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg)*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8)), url("../../assets/BannerPhoto.jpg");

  /* Set a specific height */
  height: 60%;

  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* BAND BANNER*/
.band-name{
    position: relative;
    top: 83%;
    left: 1%;
    color: lightGrey;
    font-size: 30pt;
    text-overflow: clip;
    text-shadow: 0 0 4px black;
    font-family: var(--main-font);
}

.subtext{
    position: inherit;
    top: 83%;
    left: 1%;
    color: lightGrey;
    font-size: 15pt;
    text-overflow: clip;
    text-shadow: 0 0 4px black;
    font-family: var(--main-font);
}

/*Band Information*/
#band-information{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 0px 50px 0px 50px;
}
#left-column{
    width:65%;
    float: left;
    padding-right:10px;
    font-family: var(--main-font);
}

#left-information{
    float:left;
    width: 30%;
    padding-right: 10px;
}
#left-information p{
    padding-left: 15px;
}
#right-information{
    float:left;
    width: 70%;
    padding-left: 10px;
}
#right-information p{
    padding-left: 20px;
}
.header {
    font-family: var(--main-font);
    color: black;
    font-size: 18pt;
}


/*player icons*/
#right-column{
    width:35%;
    float: right;
    padding-left:5px;
}

.profile-pic{
    margin-top:20px;
    width: 30%;
    height:auto;
    border-style: solid;
    border-width: 5px;
    border-color: lightGrey;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    display:block;
}

.label{
    color:black;
    font-family: var(--main-font);
    position: relative;
    left:50.5%;
    display: block;
    transform: translate(-50%, 0%);
    font-size: 10pt;
    margin: 10px 0px 0px 0px;
}
/*Forum Styles*/
.post {
	width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#box {
    border: 1px solid grey;
    padding: 10px 10px 10px 50px;
    margin: 7px 16px 16px 20px;
    border-radius: 5px;

}

.user-icon {
    width: 60px;
    height: auto;
    border-radius: 50%;
    position: absolute;
}

.write-post-box {
    border: 1px solid grey;
    padding: 15px;
    margin: 7px 16px 16px 20px;
    border-radius: 5px;
    width:95%;
    height: 180px;
    vertical-align: text-top;
}
