/* Universal Styles for Jambre Website */

::ng-deep :root {
    --main-black: #2a2929;
    --main-red: #e35953;
    --main-yellow: #f2c06f;
    --main-green: #c3d190;
    --main-mauve: #d8bcbc;
    --main-white: white;

    --main-font: 'Source Sans Pro', sans-serif;
}

p {
    font-family: var(--main-font);
    color: var(--main-black);
}

::ng-deep body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

::ng-deep html {
    width: 100%;
    height: 100%;
}

.label {
    font-family: var(--main-font);
    color: var(--main-red);
}

/* ---------------------Classes--------------------- */

/*-----------Font Styles----------*/
.font-size-xs {
    font-size: 15px !important; 
}
.font-size-s {
    font-size: 20px !important; 
}
.font-size-m {
    font-size: 18px !important; 
}
.font-size-l {
    font-size: 40px !important; 
}
.font-size-xl {
    font-size: 40px !important; 
}

.description {
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--main-black);
}

.page-title {
    font-size: 50px;
    font-family: var(--main-font);
    color: var(--main-white);
    margin: 0px;
    padding: 8px;
    text-shadow: 2px 2px 5px black;
}
.page-descr {
    font-size: 50px;
    font-family: var(--main-font);
    color: var(--main-white);
    margin: 0px;
    padding: 8px;
    float: left;
}


/*Formatting*/

.flow-left {
    float: left !important;
}
.flow-right {
    float: right !important;
}
.flow-center {
    float: center !important;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-x{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
