<div class="background">
    <div id="header">
        <h1 class="title center-x">Create An Account</h1>
    <div>
    <div id="container" class="center-x">
        <input type="email" class="input"type="text" placeholder="Email" id="email_field"><br />
        <input type="password" class="input" type="text" placeholder="Password"><br />
        <input type="password" class="input" type="text" placeholder="Re-type password">
        <button id="createButton" onclick="login()"> Create Account </button>
    </div>

</div>
