
<div class="background">
    <div id="header">

        <div id="login_div">
            <br/>
            <br/>
            <br/>
            <br/>

            <img class="bandbase" src="../../assets/BandBaseAlt1.png" alt="BandBase Logo">
            <div id="container">
                <div>
                    <hr />
                    <input type="name" class="input" maxlength="30" type="text" placeholder="First Name" id="firstname_field"><br />
                    <input type="name" class="input" maxlength="30" type="text" placeholder="Last Name" id="lastname_field"><br />
                    <input type="email" class="input" maxlength="30" type="text" placeholder="Email" id="email_field"><br />
                    <input type="password" class="input" maxlength="30" type="text" placeholder="Password" id="password_field"><br />
                    <input type="password" class="input" maxlength="30" type="text" placeholder="Re-type password" id="password_conf_field"><br />
                    <hr />
                    <input type="instruments" class="input" max="200" type="text" placeholder="What instruments do you play?" id="instruments_field"><br />
                    <input type="genres" class="input" max="200" type="text" placeholder="Which genres of music do you play?" id="genres_field"><br />
                    <select class="input" name="Playing preferences" id="playing_pref_field">
                        <option value="default">Choose your playing preference</option>
                        <option value="Learner">Learner</option>
                        <option value="Casual">Casual</option>
                        <option value="Amateur">Amateur</option>
                        <option value="Professional">Professional</option>
                    </select>

                    <textarea class="bio" name="bio" rows="8" cols="50" placeholder="Write a short bio about your experience as a musician." id="bio_field"></textarea>
                    <hr />
                    <button id="createButton" onclick="create()"> Create Account </button>
                    <div id="back">
                        <a href="LOGIN PAGE URL">Back to Login page</a>
                    </div>

                </div>
            </div>
            <br/>
            <br/>
            <br/>

        </div>

<div id="user_div" class="loggedin-div">
    <h3 style="margin-top:0px;">Welcome User</h3>
    <p id="user_para">Welcome to Firebase. You're currently logged in.</p>
    <button onclick="logout()">Logout</button>
  </div>

<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
