<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img src="profilepic.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h1>EDDIE AUNG</h1>
      <h5>San Luis Obispo, CA</h5>
      <br>
      <br>
      <div class="profile-description">
        Bacon ipsum dolor amet bacon flank picanha pork chop spare ribs alcatra pastrami pancetta prosciutto sausage chuck frankfurter. Andouille short loin doner, flank fatback capicola shank kevin pork chop pork loin brisket turducken. Chicken beef meatloaf picanha, buffalo ribeye pork chop sausage alcatra tenderloin boudin brisket filet mignon frankfurter. Shoulder ground round biltong, kielbasa drumstick beef ribs turducken.
      </div>
      <br>
      <br>
      <div id="">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img src="profilepic.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h1>EDDIE AUNG</h1>
      <h5>San Luis Obispo, CA</h5>
      <br>
      <br>
      <div class="profile-description">
        Bacon ipsum dolor amet bacon flank picanha pork chop spare ribs alcatra pastrami pancetta prosciutto sausage chuck frankfurter. Andouille short loin doner, flank fatback capicola shank kevin pork chop pork loin brisket turducken. Chicken beef meatloaf picanha, buffalo ribeye pork chop sausage alcatra tenderloin boudin brisket filet mignon frankfurter. Shoulder ground round biltong, kielbasa drumstick beef ribs turducken.
      </div>
      <br>
      <br>
      <div class="">

      </div>
    </div>
  </div>
</div>
