<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

<div id="main-container">
  <div id="left-column" class="flow-left" style="display:inline-block">
    <img class="profile-pic flow-left" style="border-radius:5px" src="../../assets/profilepic.jpg">
    <div id="info">
      <p class="label-title font-size-m"></p>
      <p id="profile-email" class="description"></p>
    </div>
  </div>

  <div id="right-column" style="display:inline-block;width:600px">
    <p id="profile-name" class="profile-name"></p>
    <p id="profile-location" class="location">San Luis Obispo, CA</p>
    <br>

    <p id="profile-description" class="description">  </p>
    <p class="label-title font-size-m">INSTRUMENTS</p>
    <p id="profile-instruments" class="description"></p>
    <p class="label-title font-size-m">GENRES</p>
    <p id="profile-genres" class="description"></p>
    <p class="label-title font-size-m">PREFERENCES</p>
    <p id="profile-preferences" class="description"></p>
  </div>
</div>

<div style="overflow:auto; width:80%; height:2px; padding:15px">
  <div class="line center-x">
  </div>
</div>

 <div>
    <p class="header">FIONA'S BANDS</p>
  </div>
  
  <!--Suggested Bands-->

  <div id = "bands" style="overflow:auto">
    <div class="band-desc center-x" style="display:inline-block;">
      <img id="band-img" class="flow-left" src= "../../assets/band.jpg">
      <div id="band-info" class="flow-right">
        <p id="band-name"class="flow-left label-title text-align-left">THE CONSOULS</p>
        <p id="band-location" class="flow-left location text-align-left">Located in Cal Poly, San Luis Obispo</p>
        <p id="band-needed-instr"class="flow-left location text-align-left">Looking for: Violin, Piano</p>
        <p id="band-description" class="flow-left description text-align-left padding-up padding-left-l">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris, 
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
      </div>
    </div>
  </div>



<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img src="profilepic.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h1>EDDIE AUNG</h1>
      <h5>San Luis Obispo, CA</h5>
      <br>
      <br>
      <div class="profile-description">
        Bacon ipsum dolor amet bacon flank picanha pork chop spare ribs alcatra pastrami pancetta prosciutto sausage chuck frankfurter. Andouille short loin doner, flank fatback capicola shank kevin pork chop pork loin brisket turducken. Chicken beef meatloaf picanha, buffalo ribeye pork chop sausage alcatra tenderloin boudin brisket filet mignon frankfurter. Shoulder ground round biltong, kielbasa drumstick beef ribs turducken.
      </div>
      <br>
      <br>
      <div id="">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img src="profilepic.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h1>EDDIE AUNG</h1>
      <h5>San Luis Obispo, CA</h5>
      <br>
      <br>
      <div class="profile-description">
        Bacon ipsum dolor amet bacon flank picanha pork chop spare ribs alcatra pastrami pancetta prosciutto sausage chuck frankfurter. Andouille short loin doner, flank fatback capicola shank kevin pork chop pork loin brisket turducken. Chicken beef meatloaf picanha, buffalo ribeye pork chop sausage alcatra tenderloin boudin brisket filet mignon frankfurter. Shoulder ground round biltong, kielbasa drumstick beef ribs turducken.
      </div>
      <br>
      <br>
      <div class="">

      </div>
    </div>
  </div>
</div>
-->
