.input {
    padding: 15px;
    border-right: 10px solid #e35953;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
    margin-top: 0px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 5px;
	float:left;
}

.description {
    width: 90%;
}
