<div class="hero-image">
    <button id="upload-banner-image">Upload Banner Image</button>
</div>

<div id="band-information" class="height:auto">
    <div id="left-information">
        <h4>BAND NAME</h4>
        <input id="bandName_field" class="input" name="band" type="text" placeholder="What is the name of your band?">
    </div>
    <div id="right-information">
        <h4>LOCATION</h4>
        <input id="bandLocation_field" class="input" name="location" type="text" placeholder="Where is your band based?">
    </div>
    <h4>DESCRIPTION</h4>
    <textarea id="band_description" placeholder="Write a description of your band"></textarea>

    <div id="left-information" class="whitespace">
        <h4>LOOKING FOR</h4>
        <input class="input" name="looking for" type="text" placeholder="Which instruments are you looking for?">
        <h4>GENRES</h4>
        <input class="input" name="gneres" type="text" placeholder="Which genre of music do you play?">
    </div>
    <div id="right-information">
        <h4>LEVEL</h4>
        <select class="input" name="Playing preferences" id="bandLevel_field">
            <option value="default">Choose your playing preference</option>
            <option value="Learner">Learner</option>
            <option value="Casual">Casual</option>
            <option value="Amateur">Amateur</option>
            <option value="Professional">Professional</option>
        </select>
        <h4>NEXT PERFORMANCE</h4>
        <input class="input" name="next performance" type="text" placeholder="When and where is your next gig?">
    </div>
</div>
