<div class="hero-image">
    <span class="band-name">SAMMY MILLER AND THE CONGREGATION</span>
    <span class="subtext"> JOYFUL JAZZ—MUSIC THAT FEELS GOOD </span>
</div>

<div id="band-information" style="height:auto; width:100%">
    <div id="left-column" style="width: 100%">
        <h3>Description</h3>
        <textarea name="bio" rows="8" cols="50" class="input" id="Description">Type your bio!</textarea>
        <div>
            <div id="left-information" class="flow-left">
                <h4>LOCATION</h4>
                <p class="description">Brooklyn, NY</p>
                <h4>LOOKING FOR</h4>
                <p class="description">Trumpet, Percussionist</p>
                <h4>GENRES</h4>
                <p class="description">Jazz</p>
            </div>
            <div id="right-information" class="flow-left">
                <h4>LEVEL</h4>
                <p class="description">Professional</p>
                <h4>NEXT PERFORMANCE</h4>
                <p class="description">Toronto, CA - Sony Center 4/5/2019</p>
            </div>
        <div>

    </div>
</div>