<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- <div id="nav-bar">
    <ul>
        <li><a routerLink='/' class="label font-size-m nav-label flow-left">FIND JAMS</a></li>
        <li><a routerLink='/'class="label font-size-m nav-label flow-left">MY BANDS</a></li>
        <li><a routerLink='/'class="label font-size-m nav-label flow-left">ABOUT</a></li>

        <li><img class="user-icon flow-right" src="../../assets/profilepic.jpg"></li>
        <li><a routerLink='/' class="label font-size-m nav-label flow-right">FIONA</a></li>
    </ul>
</div> -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-nav-demo">
      <ul class="nav navbar-nav">
        <li><a routerLink='/findbands' class="nav-label">FIND JAMS</a></li>
        <li><a routerLink='/createband' class="nav-label">CREATE A BAND</a></li>
        <li><a routerLink='/findbands' class="nav-label">ABOUT</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><img class="user-icon flow-right" src="../../assets/profilepic.jpg"></li>
        <li><a style="padding:20px 15px 15px 0px" class="user-name" routerLink='/profile'>FIONA</a></li>
        <li><a style="padding:20px 15px 15px 0px" class="" onclick='logout()'>LOG OUT</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
