<div id="nav-bar">
    <ul>
        <li><a routerLink='/' class="label font-size-m nav-label flow-left">FIND JAMS</a></li>
        <li><a routerLink='/'class="label font-size-m nav-label flow-left">MY BANDS</a></li>
        <li><a routerLink='/'class="label font-size-m nav-label flow-left">ABOUT</a></li>
        
        <li><img class="user-icon flow-right" src="../../assets/profilepic.jpg"></li>
        <li><a routerLink='/' class="label font-size-m nav-label flow-right">FIONA</a></li>
    </ul>
</div>
