<div class="background">
    <div class="container" id="login_div" class="main-div">
        <input type="email" class="input" type="text" placeholder="Username" id="email_field"><br />
        <input type="password" class="input" type="text" placeholder="Password" id="password_field">
        <br />

        <button class="center-x" id="loginButton" onclick="login()">Login</button>
        <br />
        <br />
        <br />
        <div class="center-x" id="createAccount">
            <a class="center-x" href="Need an account? Sign up here!">Need an account? Sign up here!</a>
        </div>
    </div>
    <div id="user_div" class="loggedin-div">
        <h3>Welcome User</h3>
        <p id="user_para">Welcome to Firebase web login Example. You're currently logged in.</p>
        <button onclick="logout()">Logout</button>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
