<div class="background">
    <div>
        <img class="bandbase" src="../../assets/bandbase-logo-and-text.png" alt="BandBase logo">
    </div>
    <br/>
    <div id="login_div" class="main-div">
        <input type="email" class="input" type="text" placeholder="Username" id="email_field"><br />
        <input type="password" class="input" type="text" placeholder="Password" id="password_field">
        <br />

        <button id="loginButton" onclick="login()">Login</button>

        <div id="createAccount">
            <a routerLink="/register">Need an account? Sign up here!</a>
        </div>
    </div>
    <div id="user_div" class="loggedin-div">
        <h3>Welcome User</h3>
        <p id="user_para">Welcome to Firebase web login Example. You're currently logged in.</p>
        <button onclick="logout()">Logout</button>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
