<div class="background">
    <div class="center">
        <form method="POST" action='/login'>
            <input class="input" type="text" placeholder="Email" name="email"><br/>
            <input class="input" type="text" placeholder="Password" name="password">
            <br/>
            <button class="center-x" id="loginButton" onclick="dothis">Login</button>
        </form>

        <br/>
        <br/>
        <br/>
        <div class="center-x" id="createAccount">
            <a class="center-x" routerLink="/register">Need an account? Sign up here!</a>
        </div>
    </div>
</div>
