<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<div style="margin:65px 0px 0px 0px;">
  <!--Header image-->
  <div id="img-container">
    <img style="position:relative" id="background-image" src = "../../assets/findJamsHeader.jpg">
    <div class="float-on-image">
      <div id="page-main-text">
        <p class="page-title"> FIND JAMS </p>
        <p class="page-descr font-size-ml page-title flow-left" style="position:absolute;z-index:2;top: 0;left: 0;"> Find your fit. </p>
      </div>
    </div>
  </div>

  <!--Current Jam Content-->
  <div data-aos="fade-up">
    <p class="header"> CURRENT JAM SESSIONS </p>
  </div>
  <div data-aos="fade-up" id = "bands" style="overflow:auto">
    <div class="band-desc">
      <img id="band-img" class="flow-left" src= "../../assets/band.jpg">
      <div id="band-info" class="flow-right">
        <p id="band-name"class="flow-left label-title text-align-left">THE CONSOULS</p>
        <p id="band-location" class="flow-left location text-align-left">Located in Cal Poly, San Luis Obispo</p>
        <p id="band-needed-instr"class="flow-left location text-align-left">Looking for: Violin, Piano</p>
        <p id="band-description" class="flow-left description text-align-left padding-up padding-left-l">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris, 
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
      </div>
    </div>
  </div>

  <div style="overflow:auto; width:800px; height:2px">
    <div class="line center-x">
    </div>
  </div>

  <div data-aos="fade-up">
    <p class="header"> SUGGESTED BANDS </p>
  </div>
  
  <!--Suggested Bands-->

  <div data-aos="fade-up" id = "bands" style="overflow:auto">
    <div class="band-desc">
      <img id="band-img" class="flow-left" src= "../../assets/band.jpg">
      <div id="band-info" class="flow-right">
        <p id="band-name"class="flow-left label-title text-align-left">THE CONSOULS</p>
        <p id="band-location" class="flow-left location text-align-left">Located in Cal Poly, San Luis Obispo</p>
        <p id="band-needed-instr"class="flow-left location text-align-left">Looking for: Violin, Piano</p>
        <p id="band-description" class="flow-left description text-align-left padding-up padding-left-l">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris, 
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
      </div>
    </div>
  </div>
  <div data-aos="fade-up" id = "bands" style="overflow:auto">
    <div class="band-desc">
      <img id="band-img" class="flow-left" src= "../../assets/band.jpg">
      <div id="band-info" class="flow-right">
        <p id="band-name"class="flow-left label-title text-align-left">THE CONSOULS</p>
        <p id="band-location" class="flow-left location text-align-left">Located in Cal Poly, San Luis Obispo</p>
        <p id="band-needed-instr"class="flow-left location text-align-left">Looking for: Violin, Piano</p>
        <p id="band-description" class="flow-left description text-align-left padding-up padding-left-l">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris, 
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
      </div>
    </div>
  </div>
  <div data-aos="fade-up" id = "bands" style="overflow:auto">
    <div class="band-desc">
      <img id="band-img" class="flow-left" src= "../../assets/band.jpg">
      <div id="band-info" class="flow-right">
        <p id="band-name"class="flow-left label-title text-align-left">THE CONSOULS</p>
        <p id="band-location" class="flow-left location text-align-left">Located in Cal Poly, San Luis Obispo</p>
        <p id="band-needed-instr"class="flow-left location text-align-left">Looking for: Violin, Piano</p>
        <p id="band-description" class="flow-left description text-align-left padding-up padding-left-l">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris, 
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
      </div>
    </div>
  </div>
  <div data-aos="fade-up" id = "bands" style="overflow:auto">
    <div class="band-desc">
      <img id="band-img" class="flow-left" src= "../../assets/band.jpg">
      <div id="band-info" class="flow-right">
        <p id="band-name"class="flow-left label-title text-align-left">THE CONSOULS</p>
        <p id="band-location" class="flow-left location text-align-left">Located in Cal Poly, San Luis Obispo</p>
        <p id="band-needed-instr"class="flow-left location text-align-left">Looking for: Violin, Piano</p>
        <p id="band-description" class="flow-left description text-align-left padding-up padding-left-l">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris, 
                            ei malis indoctum intellegam nam. wahoo
                            Erant qualisque an nec. No pri nullam ver
                            prodesset, cum et nostrum oportere. </p>
      </div>
    </div>
  </div>
  

</div>
