<div>
  <!--Header image-->
  <img style="position:relative" id="background-image" src = "../../assets/findJamsHeader.jpg">
  <div class="float-on-image">
    <div id="page-main-text">
      <p class="page-title"> FIND JAMS </p>
      <p class="font-size-m page-title flow-left padding-left"> Find your fit. </p>
    </div>
  </div>

  <!--Current Jam Content-->
  <div class="band-desc">
    <img id="band-img" class="flow-left" src= "../../assets/band.jpg">
    <div id="band-info" class="flow-right">
      <p id="band-name"class="flow-left label-title text-align-left">THE CONSOULS</p>
      <p id="band-location" class="flow-left location text-align-left">Located in Cal Poly, San Luis Obispo</p>
      <p id="band-needed-instr"class="flow-left location text-align-left">Looking for: Violin, Piano</p>
      <p id="band-description" class="flow-left description text-align-left padding-left-l">Lorem ipsum dolor sit amet, hello there no has exerci mandamus interpretaris, 
                          ei malis indoctum intellegam nam. wahoo
                          Erant qualisque an nec. No pri nullam ver
                          prodesset, cum et nostrum oportere. </p>
    </div>
  </div>

</div>
