/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #222;
}

.footer-text {
	height:100%;
  	width:100%;
  	text-align: center;
	color: #e35953;
	padding-top: 10px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);

}

.jumbotron {
	background-color: #222;
}*/
.bs-docs-footer {
	text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #222;
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
    padding-top: 10px;
}

.bs-docs-footer a {
    color: #e35953;
}

.bs-docs-footer-links li {
    display: inline-block;
}

.bs-docs-footer-links li+li {
    margin-left: 15px;
}