.background{
    background-color: #BCBCBC;
    background-image: url("../images/loginBackground.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px 0px 0px 0px;
}

.center{
    border: 3px 3px 3px 3px;
    border-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-x{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.input{
    padding: 15px;
    width: 210px;
    background-color: rgba(255,255,255,1);
}


#loginButton{
    border-radius: 3px;
    border-width: 0px;
    margin-bottom: 30px;
    background-color: #e35953;
    left: 50%;
    width: 100%;
    height: 50px;
    transform: translate(-50%, 0%);
}

#createAccount{
    width: 100%;
    display: inline-block;
}
#createAccount a{
    width: 85%;
    color:white;
    text-decoration: none;
}
#createAccount a:hover{
    color: lightGrey;
    text-decoration: underline;
}
#createAccount a:active{
    color: lightBlue;
    text-decoration: underline;
}
#createAccount a:visited{
    color: lightBlue;
}
